<html>
<head>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<link rel="stylesheet" href="static/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
	<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
	<!--<![endif]-->
</head>
<body>
	<div class="content">
		<div class="centerize logo">
			<img src="static/csl.png">
		</div>
		<div class="subtitle">
			{% if msg %}
			{{msg}}
			{% endif %}
		</div>
		<div class="pure-g centerize">
			<div class="pure-u-11-12 centerize" style="width: 90%">
				<form class="pure-form pure-form-stacked centerize" style="color: black;" action="/" method="POST">
					<fieldset>
						<label>Email</label>
						<input id="email" type="text" placeholder="Email" name="email">
						<label>Password</label>
						<input id="password" type="password" placeholder="password" name="password">
						<button type="submit" class="pure-button primary">Login</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>

</html>
