{% extends "template.html" %}
{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Set Schedule</h4>
            </div>
            <div class="content">
                <form action="{{url_for('schedule.setSchedule')}}" method="POST" id="schedule">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>To</label>
                                <select name="group" form="schedule" class="form-control">
                                    {% for group in groups %}
                                        <option class="form-control" value={{group.id}}>{{group.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" class="form-control" name="date">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control" type="text" placeholder="Your title here..." name="title">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea rows="15" class="form-control" name="description" placeholder="Your description here..."></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-fill">Set Schedule</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Schedules</h4>
            </div>
            {% if schedules %}
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                    {% for schedule in schedules %}
                    <tr>
                        <td>{{ schedule.title }}</td>
                        <td>{{ schedule.date.strftime('%m/%d/%Y') }}</td>
                        <td>
                            {% if schedule.byUser.id == user.id %}
                                <a href="{{url_for('schedule.delete', sid = schedule.id)}}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="content">
                <p class="category">You have no schedule</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}